-- This configuration file is written in the lua language
-- More details about lua here: http://www.lua.org/manual/5.1/

-- comments are prefixed by double dashes

data_type = {
  NEURAL = 0, -- the default type
  EVENT = 1,
  ANALOG = 2,
  IGNORE = 3,
}

channels = {}
for i=1, 96 do
  channel = {
    id = i,
    --name = string.format("%s_%03d", "M1", i),
    --scale_factor = 32767,
    --data_type = NEURAL,
  }
  channels[i] = channel
end

card = {
  id = 1,
  channels = channels,
}

po8e_cards = {};
po8e_cards[1] = card

channels = {}
for i=1, 96 do
  channel = {
    id = i,
    name = string.format("%s_%03d", "S1", i),
    --data_type = data_type.IGNORE,
  }
  channels[i] = channel
end

card = {
  id = 2,
  channels = channels,
}

po8e_cards[2] = card
