-- This configuration file is written in the lua language
-- More details about lua here: http://www.lua.org/manual/5.1/

-- comments are prefixed by double dashes

po8e = {}
po8e.read_size = 16 -- samples
po8e.query_socket = "tcp://*:1337"
po8e.neural_socket = "tcp://*:2000"
po8e.events_socket = "tcp://*:3000"

NEURAL = 0 -- the default type
EVENTS = 1
ANALOG = 2
IGNORE = 3

channels = {}
for i=1, 96 do
  channel = {
    id = i,
    name = string.format("%s %03d", "M1", i),
    scale_factor = 3276700,
    data_type = NEURAL
  }
  channels[i] = channel
end

card = {
  id = 1,
  channels = channels,
  enabled = false
}

po8e_cards = {};
po8e_cards[1] = card

-- CARD 2

channels = {}
for i=1, 96 do
  channel = {
    id = i,
    name = string.format("%s %03d", "S1", i),
    data_type = NEURAL
  }
  channels[i] = channel
end

channels[97] ={}
channels[97].id = 97
channels[97].name = "stim"
channels[97].data_type = EVENTS

channels[98] ={}
channels[98].id = 98
channels[98].name = "current"
channels[98].data_type = EVENTS

for i=99, 100 do
  channel = {
    id = i,
    data_type = IGNORE
  }
  channels[i] = channel
end

card = {
  id = 2,
  channels = channels,
}

po8e_cards[2] = card
