-- This configuration file is written in the lua language
-- More details about lua here: http://www.lua.org/manual/5.1/

-- comments are prefixed by double dashes

spk = {}

-- the query sock is used by many programs in the spk family
spk.query_socket = "ipc:///tmp/query.zmq"

-- the broadband and events socks are used by spk
spk.broadband_socket = "ipc:///tmp/broadband.zmq"
spk.events_socket = "ipc:///tmp/events.zmq"
